@model Joker.WebApp.ViewModels.Campaign.CampaignDetailViewModel
@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";
}

<div class="container">
    <div class="row mt-5">
        <div class="col col-lg-8">
            @if (Model.Campaign != null)
            {
                <div class="card shadow-lg p-3 mb-5 bg-body rounded">
                    <div class="card-header">
                        <h5 class="card-title bg-gradient-light p-3">@Model.Campaign.Title</h5>
                        <p class="card-text">@Model.Campaign.Description</p>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title bg-gradient-light p-3">Campaign Code</h5>
                        <p class="card-text">@Model.Campaign.Code</p>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title bg-gradient-light p-3">Condition</h5>
                        <p class="card-text">@Model.Campaign.Condition</p>
                    </div>
                </div>
            }
        </div>
        <div class="col col-lg-4">
            @if (Model.Store != null)
            {
                <div class="card shadow-lg p-3 mb-5 bg-body rounded">
                    <div class="card-header">
                        <h5 class="card-title bg-gradient-light p-3">Store Details</h5>
                        <p class="card-text">@Model.Store.Name</p>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title bg-gradient-light p-3">Store Location</h5>
                        <p class="card-text">@Model.Store.Address, @Model.Store.DistrictName, @Model.Store.CityName </p>
                    </div>
                </div>
            }
        </div>
    </div>
</div>