@using Joker.WebApp.ViewComponents
@using Joker.WebApp.ViewModels
@using Joker.WebApp.ViewModels.Shared
@model Joker.WebApp.ViewModels.Shared.PagedListViewModel<Joker.WebApp.ViewModels.Campaign.CampaignViewModel>
@{
    ViewData["Title"] = "My Campaigns";
    Layout = "_Layout";
}

<div class="row mt-5">
    <div class="col-lg-4">
        @await Html.PartialAsync("_AccountNav");
    </div>
    <div class="col-lg-8">
        <div class="row">
            <div class="col-lg-12">
                <div class="text-center mb-4 mt-4">
                    <h6 class="text-gradient text-primary">My Campaigns</h6>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4">
                <a class="btn btn-sm  bg-gradient-success  btn-round mb-0 me-1" asp-action="New" asp-controller="Campaign" role="button">Create a new Campaign</a>
            </div>
        </div>
        <hr>
        @if (Model.Data.Any())
        {
            <div class="row">
                <div class="row justify-content-center">
                    <div class="card">
                        <div>
                            Total Results : @Model.TotalRecords
                        </div>
                        <div class="table-responsive">
                            <table class="table align-items-center mb-0">
                                <thead>
                                <tr>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Name</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Code</th>
                                    <th class="text-secondary opacity-7"></th>
                                </tr>
                                </thead>
                                <tbody>

                                @foreach (var campaign in Model.Data)
                                {
                                    <tr>
                                        <td>
                                            <div class="d-flex px-2 py-1">
                                                <div class="d-flex flex-column justify-content-center">
                                                    <h6 class="mb-0 text-xs">@campaign.Title</h6>
                                                    <p class="text-xs text-secondary mb-0">@campaign.Store.Name</p>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <p class="text-xs font-weight-bold mb-0">@campaign.Code</p>
                                        </td>
                                        <td class="align-middle">
                                            <a asp-controller="Campaign" asp-action="Edit" asp-route-id="@campaign.Id" class="text-secondary font-weight-bold text-xs" data-toggle="tooltip" data-original-title="Edit user">
                                                Edit
                                            </a>
                                        </td>
                                    </tr>
                                }
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>

                <div class="mt-1">
                    @(await Component.InvokeAsync<PagingComponent>(new PagingComponentViewModel
                    {
                        PageNumber = Model.PageNumber,
                        PageSize = Model.PageSize,
                        TotalRecords = Model.TotalRecords,
                        NextPage = Model.NextPage,
                        PreviousPage = Model.PreviousPage,
                        TotalPages = Model.TotalPages
                    }))
                </div>

            </div>
        }
        else
        {
            <div class="text-center bg-light p-5">
                There is no campaign.
            </div>
        }
    </div>
</div>